.login{
    background-image:url('https://img.freepik.com/premium-photo/baby-accessories-white-wooden-background-with-copyspace_101906-611.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}