 .register{
    background-image:url('https://media.istockphoto.com/id/1202695612/photo/wooden-toys-clothes-and-shoes-on-beige-background.jpg?s=612x612&w=0&k=20&c=qcB6hUIa4BmfokTwOgpXJU3iIymqpv8sBmtFo-xJmIo=');
    background-repeat: no-repeat;
    background-size: cover;
 }
 .register1{
    background-image:url('https://as2.ftcdn.net/v2/jpg/01/00/70/65/1000_F_100706532_aGF4HFjJfyaJvvu2eCfJNYyKt0qEFY0g.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }