 /* .register{
    background-image:url('https://media.istockphoto.com/id/1202695612/photo/wooden-toys-clothes-and-shoes-on-beige-background.jpg?s=612x612&w=0&k=20&c=qcB6hUIa4BmfokTwOgpXJU3iIymqpv8sBmtFo-xJmIo=');
    background-repeat: no-repeat;
    background-size: cover;
 } */
 